.formContainer {
  width: 400px;
  background-color: #bdd1c5;
  margin-top: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}
body {
  background-color: black;
}
.formLogo {
  width: auto;
  height: 8vh;
}
.footerAnchor {
  text-decoration: none;
  color: black;
}
@media (max-width: 425px) {
  .formContainer {
    width: 320px;
    font-size: 12px;
    margin-top: 20px;
  }
}
@media (max-width: 370px) {
  .formContainer {
    width: 300px;
  }
}
